<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="JPushSource" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
          </add>
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="myListener.log"
               traceOutputOptions="Callstack">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"></filter>
          </add>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="DEBUG"/>
    </switches>
  </system.diagnostics>
</configuration>